*{
    box-sizing: border-box;
}
              /* body */
body{
    margin-top: 0;
    background-color: #FFF;
    font-family: sans-serif;
}
.clear-fix{
    clear: both;
}
             /* container */
.container{
    width:1170px;
    margin:auto;
}
/* start  slider */
.header .slider{
    margin-top: 0;
    height: 600px;
    background-image: url('../img/slider2.jpg');
    background-size: cover;
    text-align: center;   
}
.header .slider .intro{
    padding-top: 200px;
    display: inline-block;
}
.header .slider h1{
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0;
    color: #FFF;
}
.header .slider button{
    background: none;
    margin-top: 30px;
    padding: 10px 40px;
    color: #FFF;
    border: 2px solid #FFF;
    font-weight: bold;
    font-size: 20px;
}

/* start  slider */
/* start navbar */

.header .navbar{
    background-color: #252f31;
    color: #FFF;
    overflow: hidden;
}
.header .navbar h2{float: left;}
.header .navbar h2 span{
    color: #2ecc71;
}

.header .navbar ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}
.header .navbar ul li{
    float: left;
    padding: 10px;
}
.header .navbar ul li a{
    text-decoration: none;
    color: #FFF;
    text-transform: capitalize;
}
.header .navbar ul li a:hover,.header .navbar ul li a.active{
    color: #2ecc71;
}

/* start navbar */

/* start features*/
.features{
    padding-top:40px;
    padding-bottom:50px;
    overflow:hidden;
}
.features .feat{
    float:left;
    width:33.333333%;
    height:150px;
}
.features .feat h2{
    text-transform:capitalize;
    color:#555;
}
.features .feat p{
	line-height:1.7;
	color:#888;
	
}
/* end features*/

/* start about me*/

.about-me {
    background-color: #F2F2F2;
    overflow: hidden;
}
.about-me .image {
    float: left;
    width: 40%;
}
.about-me .image  img{
    width: 100%;
}
.about-me .info{
    float: left;
    width:60%;
     
}
.about-me .info h2{
	margin:40px 0 20px 40px;
	color:#555;
}

.about-me .info p{
	margin:0 0 10px 40px;
    line-height:1.6;
    color: #666;
}
.about-me .info .hobbies{
    margin: 20px 0 0 40px;
    overflow: hidden;
}
.about-me .info .hobbies > div{
    float: left;
    width: 50%;
    min-height: 100px;
	overflow:hidden;
}
.about-me .content .icon{
	float:left;
	width:12%;
	margin-right:5%;
}
.about-me  .content .icon img{
	max-width:100%;
	margin:40px 0px 0 31px ;
	
}
.about-me  .content .text{
	float:left;
	width:83%;
}


/* end about me*/

/* start my skills */


.my-skills {
    
    overflow: hidden;
    padding-bottom: 50px;
    color: #555;
}
.my-skills .skills{
    float: left;
    width: 50%;
    
}
.my-skills .skills p{
   margin-left: 0;
    color: #555;
}
.my-skills .skills button{
    margin-top: 15px;
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;
    font-weight: bold;
    font-size: 15px;
}
.my-skills .progress{
    padding-top: 10px;
    float: left;
    width:50%;
}
.my-skills .progress >div {
    background-color: #555;
   
}
.my-skills .progress div span{
    background-color: #2ecc71;
    height: 25px;
    padding-top: 3px;
    display: block;
    text-align: right;
    line-height: 20px;
}

/* end my skills */

/* start resume */

.resume{
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
    color: #555;
}
.resume button{
    margin-top: 15px;
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;
    font-weight: bold;
    font-size: 15px;
}

/* end resume */
/* start my-education*/
.my-education {
    overflow:hidden;
}
.my-education .main,.my-education .exp{
    float:left;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #666;
    line-height: 1.7;
}
.my-education .main{
    width:50%;
    padding-right: 5px;
}
.my-education .exp{
    width: 45%;
    padding-left: 30px;
}

.my-education .main p{
    margin-left: 0;
}
.my-education .exp .certificate{
  
    padding-bottom: 20px;
}
.my-education .exp p{
    margin-left: 0;
}
.my-education .exp .certificate span span{
    color: white;
    padding: 5px;
    background-color:#2DCC70; 
}


/*end my-education*/
/* start testimonials */

.testimonials{
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #555;
}
.testimonials q{
	line-height:1.8;
	color:#888;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	
}
.testimonials h3{
	color:#444;
	margin-bottom:30px;
}
.testimonials ul{
	list-style:none;
	padding-left:0;
	text-align:center;
	
	}
.testimonials ul li{
	height:20px;
	width:20px;
	border:2px solid #2DCC70;
	display:inline-block;
	cursor:pointer;
}
.testimonials ul li.active{background-color:#2DCC70}
.testimonials ul li:hover{background-color:#2DCC70}
/*end testimonials*/
/* start protofolio*/
.protfolio {
    text-align: center;
    overflow: hidden;
    color:#555;
    line-height: 1.5;
}
.protfolio h1 {
    color:#555;
    text-transform: uppercase;
}
.protfolio .image {
    padding-top: 50px;
    padding-bottom: 50px;
}
.protfolio .image img{

    margin: 10px;
}


/* end protofolio*/
/* start Contact Me*/

.contact{
	background-color:#252F31;
	overflow:hidden;
	padding-top:50px;
	padding-bottom:70px;
}
.contact .info{
	width:50%;
	float:left;
	margin-right:5%;
}

.contact h2{color:#FFF;margin-left:40px}
.contact p{color:#6A6E71;margin-left:40px;line-height:1.7}
.contact p strong {color:#D1D6DA}
.contact.form{
	width:45%;
	float:left;
}

.contact address{color:#6A6E71;margin-left:40px;text-decoration:none}

.contact .form  label {
	display:block;
	color:#D1D6DA;
	margin:10px 0;
}
.contact .form  input[type="text"],[type="email"]{
	background-color:#4B5557;
	color:#FFF;
	padding:10px;
	border:0;
	width:40%;
	margin-bottom:10px;
}
.contact .form  textarea{
	background-color:#4B5557;
	color:#FFF;
	padding:10px;
	border:0;
	width:40%;
	margin-bottom:10px;
	height:300px;
}
.contact .form input[type="submit"]
{
	position:relative;
	left:643px;
	background-color:#191E22;
	color:#FFF;
	border:0;
	padding:10px  20px;
	margin-top:10px;
}
/* end Contact Me*/

/* start footer*/
.footer{
    background-color: #191E22;
	color:#6A6E71;
	padding:20px 0;
	text-align:center;
}
.footer ul{
	list-style:none;
	padding-left:0;
	margin:10px 0 0;
}
.footer ul li{
	display:inline-block;
}
.footer ul li img {
	width:24px;
	
}

/* end footer*/









